서울 따릉이 자전거 분석
- 1시간 전 날씨 정보를 이용하여 따릉이 자전거의 대여수를 분석

분석 목적
- 자전거 대여수를 예측하여, 자전거 점검을 위해 필요한 자전거 적정량 회수
- 날씨에 따른 자전거 대여 매출 분석

사용한 코딩
- 파이썬 머신러닝

In [1]:
import pandas as pd

In [2]:
Test_data = pd.read_csv('D:/python_study/project/따릉이/test.csv', encoding = 'cp949')

테스트할 날씨 데이터:
- 날씨 데이터 종류: 온도, 강수량, 풍속, 습도, 가시거리, 오존, pm2.5 (초미세 먼지), pm10 (미세 먼지)

In [3]:
Test_data.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

데이터 수
 - 715개의 날씨 데이터

In [4]:
Test_data.shape

(715, 10)

데이터 정제 작업

In [5]:
Test_data.isna().sum()

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [6]:
Test_data.fillna(Test_data['hour_bef_temperature'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_precipitation'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_windspeed'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_humidity'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_visibility'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_ozone'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_pm10'].mean(), inplace = True)
Test_data.fillna(Test_data['hour_bef_pm2.5'].mean(), inplace = True)

In [7]:
Test_data.isna().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
dtype: int64

In [8]:
Test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    715 non-null    float64
 3   hour_bef_precipitation  715 non-null    float64
 4   hour_bef_windspeed      715 non-null    float64
 5   hour_bef_humidity       715 non-null    float64
 6   hour_bef_visibility     715 non-null    float64
 7   hour_bef_ozone          715 non-null    float64
 8   hour_bef_pm10           715 non-null    float64
 9   hour_bef_pm2.5          715 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

학습시킬 날씨 데이터
- 날씨 데이터와, 대여수 포함

In [9]:
Train_data = pd.read_csv('D:\python_study\project\따릉이/train.csv',encoding = 'cp949')

In [10]:
Train_data.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [11]:
Train_data.shape

(1459, 11)

학습 날씨 데이터 정제

In [12]:
Train_data.isna().sum()

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [13]:
Train_data.fillna(Train_data['hour_bef_temperature'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_precipitation'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_windspeed'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_humidity'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_visibility'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_ozone'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_pm10'].mean(), inplace = True)
Train_data.fillna(Train_data['hour_bef_pm2.5'].mean(), inplace = True)

In [14]:
Train_data.isna().sum()

id                        0
hour                      0
hour_bef_temperature      0
hour_bef_precipitation    0
hour_bef_windspeed        0
hour_bef_humidity         0
hour_bef_visibility       0
hour_bef_ozone            0
hour_bef_pm10             0
hour_bef_pm2.5            0
count                     0
dtype: int64

In [15]:
X= Train_data.drop(['id','count'],axis = 1)
X

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0
1,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0
2,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0
3,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0
4,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0
...,...,...,...,...,...,...,...,...,...
1454,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0
1455,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0
1456,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0
1457,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0
1458,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0

In [16]:
y = Train_data['count']
y

0        49.0
1       159.0
2        26.0
3        57.0
4       431.0
        ...
1454     21.0
1455     20.0
1456     22.0
1457    216.0
1458    170.0
Name: count, Length: 1459, dtype: float64

학습 코딩 시작

In [17]:
from sklearn.model_selection import train_test_split

In [18]:
from sklearn.neighbors import KNeighborsRegressor as KNN

In [19]:
from sklearn.metrics import accuracy_score

In [20]:
import numpy as np

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 0 )

In [22]:
reg = KNN(n_neighbors = 4)

In [23]:
reg.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=4)

In [24]:
print('test set r^2: {:.2f}'.format(reg.score(X_test,y_test)))

test set r^2: 0.34

In [25]:
print('train set r^2: {:.2f}'.format(reg.score(X_train, y_train)))

train set r^2: 0.62

In [26]:
from sklearn.ensemble import GradientBoostingRegressor

In [27]:
from sklearn.metrics import mean_squared_error as MSE

In [28]:
gbt = GradientBoostingRegressor(n_estimators = 300,subsample = 0.9, max_features = 0.75, max_depth = 4, random_state = 0)

In [29]:
gbt.fit(X_train, y_train)

GradientBoostingRegressor(max_depth=4, max_features=0.75, n_estimators=300,
                          random_state=0, subsample=0.9)

In [30]:
y_pred = gbt.predict(X_test)

In [31]:
rmse_test = MSE(y_test, y_pred) **(1/2)

학습 결과 
- 오차범위 36.77

In [32]:
print('RMSE_test: {:.2f}'.format(rmse_test))

RMSE_test: 36.77

예측 값, 실제 값 비교!

In [51]:
list(zip(y_pred, y_test))

[(16.39315953031375, 17.0),
 (24.51071379861765, 177.0),
 (102.77896069854813, 81.0),
 (53.23000685588117, 66.0),
 (78.91990992309876, 110.0),
 (189.1670975153991, 187.0),
 (94.6830464573303, 85.0),
 (102.08512970476865, 75.0),
 (74.45161923434428, 56.0),
 (23.90009282540876, 23.0),
 (80.84709476149125, 105.0),
 (130.50381076523192, 42.0),
 (80.41860767295555, 13.0),
 (190.94026610686186, 229.0),
 (3.3024178066345162, 28.0),
 (151.020349619069, 51.0),
 (104.83055202583485, 109.0),
 (94.65591516367594, 156.0),
 (326.4125123444062, 398.0),
 (38.77099173937136, 67.0),
 (55.02233431114651, 79.0),
 (13.486477448524559, 6.0),
 (169.4536757410059, 258.0),
 (72.49454914148058, 99.0),
 (207.69343458745655, 232.0),
 (70.64433948394523, 18.0),
 (196.65188214603307, 206.0),
 (46.047320068720076, 91.0),
 (23.02885610796803, 23.0),
 (0.26307404415644114, 28.0),
 (250.1484409524924, 191.0),
 (124.53942195197399, 194.0),
 (30.299607325837883, 29.0),
 (233.17319326882551, 267.0),
 (129.97791900995094, 151.0),
 (286.27087106738725, 214.0),
 (19.924852793521005, 34.0),
 (348.1994558624662, 293.0),
 (104.13821616886362, 105.0),
 (127.39572328692938, 125.0),
 (141.5910502959588, 88.0),
 (61.4939738200619, 106.0),
 (108.83722442182598, 125.0),
 (63.560534872802805, 42.0),
 (238.15956006347017, 214.0),
 (21.678938385513298, 12.0),
 (109.94540171266662, 132.0),
 (85.25023683093418, 82.0),
 (-5.839529535903298, 8.0),
 (98.42818935043574, 111.0),
 (60.83667913835355, 63.0),
 (157.60740109185144, 186.0),
 (170.64310352678498, 200.0),
 (71.45050482012411, 55.0),
 (181.89036626147782, 284.0),
 (109.6038302919893, 34.0),
 (85.25553408040706, 128.0),
 (58.37534790965092, 65.0),
 (82.02343835952614, 117.0),
 (33.33952991929999, 32.0),
 (99.68382154472162, 82.0),
 (20.6920591588001, 7.0),
 (124.01522294078896, 110.0),
 (329.91740821102337, 431.0),
 (115.20610336131836, 114.0),
 (114.4559698284674, 112.0),
 (203.2040629116441, 296.0),
 (215.34757620626814, 215.0),
 (121.22338891256628, 147.0),
 (24.251798009080275, 19.0),
 (112.3599531183647, 83.0),
 (170.01389818350216, 121.0),
 (26.01486489348546, 26.0),
 (59.6675209457778, 108.0),
 (118.26810443628817, 150.0),
 (69.55924200237868, 90.0),
 (127.19575846851349, 147.0),
 (131.66904692063355, 127.0),
 (97.292223762794, 30.0),
 (249.86268293594327, 316.0),
 (135.84111431511144, 144.0),
 (324.37435172397636, 369.0),
 (175.00167358089445, 114.0),
 (101.45126109379959, 113.0),
 (167.19689872572312, 142.0),
 (117.59047331057702, 61.0),
 (158.79972636196166, 311.0),
 (66.83297491696082, 86.0),
 (147.16261190074988, 115.0),
 (213.60147467633868, 213.0),
 (10.237824687715579, 15.0),
 (145.02236183231636, 144.0),
 (109.79239370540932, 98.0),
 (59.94611653156684, 82.0),
 (71.1928147178626, 74.0),
 (82.30064750026831, 109.0),
 (214.5306524789476, 197.0),
 (77.12605598575989, 14.0),
 (32.191310070894794, 23.0),
 (174.9635246636412, 166.0),
 (116.0250816570173, 138.0),
 (179.82449966290773, 125.0),
 (31.42794027568048, 27.0),
 (85.67931460767285, 94.0),
 (114.93898103246853, 130.0),
 (30.93656189077166, 39.0),
 (72.76345912303684, 108.0),
 (31.035834072136876, 1.0),
 (102.70068728632417, 114.0),
 (140.1440600141402, 155.0),
 (46.50406114274418, 85.0),
 (106.16405867253715, 64.0),
 (117.64112149331412, 100.0),
 (97.30592246880737, 74.0),
 (193.91822597153921, 136.0),
 (35.7817490564271, 38.0),
 (54.94753300927383, 62.0),
 (68.78255388734149, 76.0),
 (105.59970137571383, 134.0),
 (244.92838818786774, 238.0),
 (166.05542777393666, 115.0),
 (137.09603691307737, 46.0),
 (48.19165306728934, 77.0),
 (129.66054764446164, 108.0),
 (77.27139630209494, 96.0),
 (220.17711320569634, 292.0),
 (79.81703877895852, 71.0),
 (26.63861658114126, 14.0),
 (3.771665444425434, 17.0),
 (25.162592051231048, 43.0),
 (98.1268016413673, 80.0),
 (56.04330012414778, 62.0),
 (86.25889261436643, 82.0),
 (80.98622061303611, 101.0),
 (87.23161863279103, 73.0),
 (149.6764825971653, 184.0),
 (93.9606473701875, 88.0),
 (27.953385680009074, 23.0),
 (92.67680211267886, 113.0),
 (74.53798233450159, 75.0),
 (119.4117916603982, 125.0),
 (17.79703244698215, 21.0),
 (91.46801354996117, 74.0),
 (67.40423204086163, 36.0),
 (215.23039273182908, 202.0),
 (171.45886878051374, 212.0),
 (235.36248092846415, 268.0),
 (178.91753349789334, 194.0),
 (117.79130040984982, 95.0),
 (26.549549457497527, 43.0),
 (96.6977394695791, 92.0),
 (117.97326248888503, 112.0),
 (55.77709518835574, 41.0),
 (24.530014743710993, 12.0),
 (97.50769082136233, 121.0),
 (36.688588077935734, 53.0),
 (108.95453410810883, 121.0),
 (10.448662515906474, 10.0),
 (106.72767902560787, 138.0),
 (13.64371850745628, 26.0),
 (131.42451933378018, 138.0),
 (212.99049397082814, 171.0),
 (24.051674820148065, 30.0),
 (81.77546927118188, 107.0),
 (150.7261836678337, 131.0),
 (79.51802251150325, 17.0),
 (55.57517360244798, 93.0),
 (48.25384217558401, 64.0),
 (170.72544119632863, 208.0),
 (108.87052950148359, 91.0),
 (13.396058956884692, 23.0),
 (63.87579080362287, 61.0),
 (277.4804172727625, 244.0),
 (99.42916937902037, 94.0),
 (131.03891907660088, 118.0),
 (16.99932612553529, 16.0),
 (74.77667570738261, 68.0),
 (105.4425423962784, 113.0),
 (99.45959054701498, 101.0),
 (71.16899018724658, 81.0),
 (22.914512799055924, 15.0),
 (64.00911313863689, 18.0),
 (194.69708395220098, 162.0),
 (77.04485695090536, 104.0),
 (84.88455860984021, 79.0),
 (216.51466567473184, 317.0),
 (81.93538537770316, 106.0),
 (163.21715372653344, 147.0),
 (119.36590617654261, 105.0),
 (126.95086452299942, 81.0),
 (11.129626479932014, 9.0),
 (132.7823770649014, 91.0),
 (20.015699026664397, 12.0),
 (27.40532268697747, 41.0),
 (29.480334899038542, 25.0),
 (166.56447421293055, 140.0),
 (100.9526890141829, 43.0),
 (-7.096985362299621, 29.0),
 (107.72954407481829, 15.0),
 (81.21298232723119, 94.0),
 (123.16158121048618, 105.0),
 (71.50612040710428, 85.0),
 (68.60762587906669, 70.0),
 (268.6978714863899, 280.0),
 (50.11461422830493, 36.0),
 (100.0854090997641, 144.0),
 (111.53901661362866, 108.0),
 (129.2550587060911, 131.0),
 (136.838245775569, 208.0),
 (16.529183142929426, 11.0),
 (26.56825157236319, 17.0),
 (30.054196061772586, 15.0),
 (25.628997851489487, 23.0),
 (10.197482177017308, 11.0),
 (65.80591699431335, 106.0),
 (79.1475377290875, 60.0),
 (172.20944579814304, 268.0),
 (101.36525993708041, 184.0),
 (36.27574795310622, 56.0),
 (60.16259865237388, 74.0),
 (52.35765996597843, 58.0),
 (94.50069040924697, 72.0),
 (131.59235017735034, 117.0),
 (148.49389833513453, 120.0),
 (92.55001178829633, 60.0),
 (120.30973596560332, 113.0),
 (287.90472942869314, 247.0),
 (112.77994751486982, 102.0),
 (135.58402086882725, 226.0),
 (106.4795978508163, 66.0),
 (23.88038874155419, 20.0),
 (154.53585959703014, 221.0),
 (123.54537516745496, 139.0),
 (143.18380363264245, 165.0),
 (209.8050439193467, 211.0),
 (25.131858981253263, 16.0),
 (31.346905587578767, 15.0),
 (3.701875960230895, 13.0),
 (29.28967859044926, 23.0),
 (17.622481210796725, 66.0),
 (10.122679715658473, 26.0),
 (109.1232814791372, 159.0),
 (195.0317671334285, 109.0),
 (20.704041877204062, 2.0),
 (214.40577289463454, 176.0),
 (200.71627969447295, 161.0),
 (130.56717440135753, 160.0),
 (84.7209365172464, 69.0),
 (190.8245215257437, 158.0),
 (75.71975763309469, 43.0),
 (91.13084421923782, 172.0),
 (25.05941112141032, 22.0),
 (107.33798168408092, 114.0),
 (73.46374058421134, 77.0),
 (13.01746459776376, 26.0),
 (73.4376532008642, 91.0),
 (105.55892329589757, 111.0),
 (59.2902404141341, 49.0),
 (38.77179823771288, 19.0),
 (98.26495139222861, 74.0),
 (19.21047882593002, 31.0),
 (56.63788692994584, 55.0),
 (50.8883722761551, 45.0),
 (211.8955181500801, 304.0),
 (207.9283805560164, 216.0),
 (11.809640454321249, 10.0),
 (109.18135795165104, 91.0),
 (41.94780222293469, 37.0),
 (28.165690349637416, 34.0),
 (141.4210191335041, 122.0),
 (51.01636850071191, 52.0),
 (85.00267439194974, 69.0),
 (18.360596504347047, 13.0),
 (145.2275167627187, 21.0),
 (253.90417124350384, 300.0),
 (116.49896971300088, 114.0),
 (222.2343609381097, 207.0),
 (85.5642977975829, 46.0),
 (31.841654649290962, 43.0),
 (154.38174242842103, 199.0),
 (-0.5147847509097625, 16.0),
 (116.53129360114774, 123.0),
 (194.53615896579075, 227.0),
 (187.75402690202026, 318.0),
 (69.58761266770499, 21.0),
 (101.14760964443677, 114.0),
 (13.865763072202894, 13.0),
 (12.172993667902448, 36.0),
 (90.86510076971172, 74.0),
 (174.932528010697, 190.0),
 (131.71854274814, 215.0),
 (157.8496443492069, 186.0),
 (16.922029476434275, 10.0),
 (263.3174552111652, 318.0),
 (24.123433392930817, 21.0),
 (108.56598441010063, 71.0),
 (180.82607049877268, 218.0),
 (87.7767651975016, 111.0),
 (156.04967705654406, 117.0),
 (339.8669601825501, 305.0),
 (62.63565826566857, 63.0),
 (42.96001849839843, 44.0),
 (158.67832450174723, 199.0),
 (22.50852515224627, 27.0),
 (76.28520100148141, 79.0),
 (255.3216858231348, 339.0),
 (19.675280596252755, 21.0),
 (66.79969158007981, 71.0),
 (48.62479489935818, 12.0),
 (31.28574729600036, 24.0),
 (84.25494346004903, 39.0),
 (98.73537121385206, 87.0),
 (128.3348778085793, 139.0),
 (77.23502581438109, 88.0),
 (159.30406882984303, 131.0),
 (137.28205808033394, 119.0),
 (188.91517046732707, 267.0),
 (70.25120475485265, 71.0),
 (214.09762701525455, 170.0),
 (3.7980616539471104, 2.0),
 (102.68907502615478, 87.0),
 (107.87698853266026, 117.0),
 (28.563002025317825, 14.0),
 (29.979690879576502, 22.0),
 (137.89011313073246, 61.0),
 (121.01408825757044, 141.0),
 (207.65577278964827, 302.0),
 (155.19429662021795, 170.0),
 (24.101220111997506, 28.0),
 (19.60817367168705, 15.0),
 (25.81241155870119, 14.0),
 (81.55149856914353, 73.0),
 (271.4127753670248, 244.0),
 (152.52257369806378, 112.0),
 (23.46877958957921, 16.0),
 (34.84066500419118, 17.0),
 (274.5766930722542, 320.0),
 (17.67224785681507, 5.0),
 (164.2718310282904, 201.0),
 (14.183122766280045, 20.0),
 (92.97180613854131, 88.0),
 (39.98929729078894, 9.0),
 (67.0114110589493, 96.0),
 (21.171672553615437, 25.0),
 (2.107139302048869, 32.0),
 (151.9592929257671, 183.0),
 (80.81101700993315, 78.0),
 (173.97138983353614, 167.0),
 (8.309329192520496, 12.0),
 (176.84844923655177, 171.0),
 (137.60827770497824, 108.0),
 (93.3482836330942, 98.0),
 (125.65261974667499, 163.0),
 (105.9979303478571, 33.0),
 (117.87313157021859, 118.0),
 (84.54060580918983, 26.0),
 (29.866886783239185, 13.0),
 (25.53050655695788, 18.0),
 (203.407667363554, 195.0),
 (17.067144736095425, 18.0),
 (23.245549027568256, 12.0),
 (107.75289058817091, 124.0),
 (255.40818911058875, 213.0),
 (177.29455257313003, 127.0),
 (320.1509866209898, 317.0),
 (89.60856537750276, 95.0),
 (173.793560941376, 172.0),
 (21.343751624356663, 20.0),
 (105.60046064408222, 60.0),
 (-4.145331871786256, 2.0),
 (19.393269993582617, 27.0),
 (151.21237041604653, 41.0),
 (21.220088132583307, 11.0),
 (32.88043105331738, 24.0),
 (48.57424584300438, 43.0),
 (239.72468785712255, 222.0),
 (22.88631887623786, 17.0),
 (87.92879321341366, 75.0),
 (12.831758183485103, 12.0),
 (159.814696820495, 126.0),
 (91.80218807674123, 80.0),
 (101.34875306556553, 100.0),
 (12.074949456713423, 12.0),
 (128.91939862659848, 136.0),
 (-0.7063313272282895, 10.0),
 (99.73313971020272, 113.0),
 (33.59481008460689, 9.0),
 (249.62341953841897, 165.0),
 (137.58852179104858, 84.0),
 (109.71657864873416, 124.0),
 (20.389179768557852, 52.0),
 (149.6717671222857, 235.0),
 (230.33089176466007, 213.0),
 (215.01123814918023, 256.0),
 (75.39943039350347, 103.0),
 (149.58197932913657, 150.0),
 (100.4430054953651, 109.0),
 (199.48760939198127, 137.0),
 (75.81817810698269, 84.0),
 (271.0190808114284, 278.0),
 (191.3852373681671, 140.0),
 (240.5236984862567, 254.0),
 (116.45369547914308, 149.0),
 (7.934765291226626, 8.0),
 (71.09392882363326, 106.0),
 (56.08452502378805, 11.0),
 (180.64208850144632, 178.0),
 (98.68723267930574, 10.0),
 (140.20229333303493, 169.0),
 (10.285709461287889, 10.0),
 (195.99441167379027, 337.0),
 (110.10452920261127, 88.0),
 (94.80184328103765, 93.0),
 (47.11314202323896, 72.0),
 (-7.827701570461275, 5.0),
 (149.43022958435185, 162.0),
 (35.54363558604585, 19.0),
 (83.37062144403984, 100.0),
 (60.00446305694828, 114.0),
 (95.9491434217722, 96.0),
 (165.69265121292696, 155.0),
 (-0.9358854778164573, 17.0),
 (175.51097926666222, 161.0),
 (113.08836539942472, 121.0),
 (268.2128692969533, 199.0),
 (180.8877741527224, 162.0),
 (17.82970387104636, 6.0),
 (30.754693875536393, 25.0),
 (107.05657670016548, 171.0),
 (101.80642236281278, 121.0),
 (42.557718127920396, 40.0),
 (135.17606557585265, 122.0),
 (76.19871032853415, 73.0),
 (40.85032052651973, 67.0),
 (4.919211583838849, 15.0),
 (13.465140508007622, 23.0),
 (81.21155543994838, 107.0),
 (49.565936895488356, 46.0)]

테스트 데이터를 이용하여 예측값 만들어 내기

In [34]:
Test_data.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

In [35]:
Test_data

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041000,44.000000,27.000000
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061000,49.000000,36.000000
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020000,36.000000,28.000000
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027000,52.000000,38.000000
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041000,18.000000,15.000000
...,...,...,...,...,...,...,...,...,...,...
710,2148,1,24.6,0.0,2.4,60.0,1745.0,23.263305,23.263305,23.263305
711,2149,1,18.1,0.0,1.0,55.0,2000.0,23.263305,23.263305,23.263305
712,2165,9,23.3,0.0,2.3,66.0,1789.0,0.020000,17.000000,15.000000
713,2166,16,27.0,0.0,1.6,46.0,1956.0,0.032000,40.000000,26.000000
714,2177,8,22.3,0.0,1.0,63.0,1277.0,0.007000,30.000000,24.000000

In [36]:
Test_data.drop('id',axis = 1, inplace = True)

In [37]:
y_pred_Test = gbt.predict(Test_data)

In [38]:
print(y_pred_Test)

[ 98.73331835 222.97294191  81.16091013  24.54279202  63.23955553
 170.14105591 197.68585751 303.12015545  34.67633436 123.98799279
 301.97256804 193.70305966 102.32611132  56.91856422 187.92498149
 129.73840106  12.71274596 160.20694118 363.27390273 186.93112302
 229.68397501 118.67819963  37.92438581 131.92728155 145.20296133
 109.92694272  33.70857266 141.21148687 124.58561234 165.18931193
  74.64378545  55.43092715  85.79394689 131.71253644 316.67727339
  60.76284435 135.48958271 135.92911103 268.11596762  99.33022025
  40.14232269 137.71645859 167.29519336 104.66018753 324.31556088
 186.48528555  85.07688367  65.27495333  43.44665425  73.80264134
 231.75599526  86.6399272  150.09917676  56.11298782 165.3152173
 156.59825111  64.82228425 178.56164951  27.31737145  29.56957533
  76.96586879  86.21705114 290.36128404 307.09374572 158.21843613
 296.97250811  28.55079052 225.33225847 131.83470333  60.92796117
 123.18609631  43.88238199 151.91107037  19.13800067 305.20253441
 191.15787643  46.88578813 172.40326107 178.8622201   41.09207115
 258.88917383 113.40382795  79.76781438 108.75319695 104.00975252
 362.56762422  65.16711506 170.10955164  88.21124334 271.84310569
 293.48630492 195.93129144  83.96261904 112.57838422  61.34364568
  80.03446347  85.61333104  38.58516339 254.19398265 157.76294151
  26.60141626 146.88908863  18.68596996 106.47308125  91.39751114
  26.36366345  80.85727676  37.76717623 173.18643957 115.59479947
 173.8264852  170.04235081 173.63301838 139.52833221  59.59995773
 148.72170087 231.12302152  48.92909207 180.5647308   36.37827178
 112.34815534 138.51154934 169.44426325 114.05407184  54.16500425
 138.56182076  47.65114407  30.37915764 177.82215109  79.54297778
 102.86210862 119.29033083  47.21153947 134.0898278  304.95773251
 123.63212125  53.24879406 115.78158565 219.04982801 354.75136727
 163.78390858  28.66424569  30.34516209  85.23222087 111.99528172
 102.69103503  98.92242024 116.51898855 152.92903022 224.45424123
 108.89555655 269.77975676 333.18693135 227.07514004 145.23513729
  12.41886374 120.84222933   8.95460377  82.94721966 167.71265039
 171.54190432  40.42439103 200.86098213 235.99597645 105.29445624
  50.8886822  199.31800461 173.70288995 283.37614796  45.18921684
 115.05512808 144.76115471  98.17583012  99.95789448  91.85131205
 139.40473232 209.29835619 230.40938389 160.07017767  79.83743939
 202.3876578  176.38787823 141.47667924 238.75702524 122.63280934
  83.07726405 102.30578949 282.38284163 228.05837829  67.32060247
  50.34970169 131.52223493 104.05073043  95.10910585 134.61175641
 198.42524725 312.75883001 167.21078543  81.44392845 119.11962579
  25.36361241 242.54578979  32.11849189 387.36885059 140.13986155
  24.40847809 119.60179234 230.94532098 240.15045178  73.35707094
 288.01242859 159.07879339 166.89204829 232.17175497 251.12778901
 104.43533754 278.68038034 104.30709902 101.78451229 102.93924121
 108.13701064  20.44797827 111.23526587  51.5145937  154.33098365
  39.97844206 191.08916877 159.57497579  43.36654825 172.98335816
 217.82010556 117.45543212  17.72929652 116.81988811 210.06209602
 112.35542926 395.0312373  328.61004106 164.82446602 122.29723455
  38.91874563 196.18327468  22.86793061 130.00832957 144.90402143
  92.82456463 132.94936536 227.39666865 104.86063792  19.93276684
  83.32384062 252.54745163 222.70334958 147.45374517  92.37695604
 192.16332842  45.92419265 348.86594796  59.86667417  36.37920934
 183.81522565  48.19448632 223.08050343  18.66596991 154.39573552
 270.57046249  35.3214366  266.11501736  68.40544919 209.4710386
 136.2328081   84.3700235   66.92280911 304.92107803  37.5254453
 247.57536276 105.36495891 167.76327028 179.7028431   27.90751289
 275.28969559  87.53035599  14.05784402 176.06976304 176.71547066
 120.50039879 274.31153491 114.40672388  42.00588213 107.50067619
 101.14848438 299.95732109 152.49088591  90.06527102 159.27579509
  23.84068729 157.54394558  44.63388583 210.70672926  24.74706563
 112.85352802 212.42613671 191.5969559  235.34249545 343.89917379
 147.43586284 103.01351408  60.06879054 155.30946144  89.14488429
 255.23685243 257.26772641 184.99349953  52.68194078 259.62157608
 183.24513095 130.52443764  11.15849949   9.31273552  29.0328394
 231.69747185  28.24871666 129.84273014 159.94082213 101.53995669
 348.56837724 254.56274709  98.94191656 112.53240653 102.64789013
  20.51279855 103.78592185  96.51415627 186.77139883 116.33363801
  33.97020193 270.20172126 189.38918223 150.83545926 320.67639575
  -1.93370496  25.9869297  345.02906662 182.47594202 124.38863866
  44.16223009  45.8793765  113.73595856  65.46035066 280.84916023
 199.5424672  212.43254717  62.38781994  74.01433655 164.18664056
  70.23261669  22.4814516   40.8746911   99.82922012 123.18169912
  89.17148696 203.40327258 228.3508995  162.66920623 144.82399508
  39.92380513  92.75699935  75.61410022  20.82124127 202.18758379
 120.32828847  79.44921953 222.88212652 284.12163871 215.98392476
  24.61062802  86.22094408 170.9651339   89.72551626  52.85166017
 153.59764989 139.21494625 310.00872848 296.13773692  88.82483029
  80.13928067 132.72249442 166.4198162  101.61447525 253.77486889
  51.89194319 127.95209122 247.4031219   69.53347535 106.19432117
 129.64761823 262.61272775  51.76569613  23.64753007 183.07614535
  20.1942214   89.59356869  35.62963617 307.83014938 102.30465854
 132.81036639 170.83542608 165.97124675 122.16568969  93.51141924
 121.65012475 266.58911519 155.15711433 107.34046777  74.2425885
 135.60974548 163.50409353 127.62983524  59.41280712  47.17999946
  48.85135921  19.65259481  26.55669848  36.23009519 109.42059971
 100.86543316 101.85526366 195.28500856 123.13016595 356.06774852
 133.81330504 169.33067807 275.52719649  91.46751461 116.36866098
 171.38933966 326.21947065  50.98921453 104.43638612 405.65734301
 265.37167281 144.37052596  53.92246775  90.32078267  63.82479285
  94.98637257  85.30180453  22.93746834 321.68806772 280.11091593
 224.49330877 131.39156763 182.43584329 163.36884202 164.58586723
 130.1391123  239.35798055  90.76349698 106.4094181  114.23136048
 153.02211745 102.67852014 105.7399545  135.73523318  85.94933182
 164.11859611 300.85448781  80.66219179 191.92905916 215.89184405
 257.77120295  57.41252013 370.83596599 109.43081785 158.67047647
 136.72127768  30.12278177   2.79445487 224.65604236 270.15172359
  94.63773581 101.16874948  29.9665048   24.31652177 235.59202884
 147.70825121 376.68086641 241.82221467  92.16202435  99.04509755
 149.36673238 202.90282856  94.06736919  71.25393448  50.01244107
 158.25566212 122.92843113 230.95022469 300.93325261 211.35699832
  22.88940504 208.63034914  66.63020456  98.42442744  62.49763488
 205.27108972 263.503726    43.44555457 147.87903846  94.79060017
  59.08212131 194.61929559 225.01410075 165.24330419 356.26718173
  83.84626522  33.39622176 193.13406152 176.53765461 168.70186411
  44.00587133 239.65584623  38.29142895  80.67077212  40.85276961
  56.7158594   47.23192463 152.68150571 192.85744011 150.47788976
  43.67013022  99.18975221  48.23281365 310.64880635 123.32793258
  41.28008458  72.6564816   28.49334419  62.42796438  23.03836386
 303.35783844  19.13255807 182.92869095 274.51863956 277.50152059
 220.38080888  93.47881912 137.3899824  102.81841601 116.01693762
 205.28756189  35.51400599  34.96193697 143.15177266  33.05785426
 184.48514956 138.79820263  40.28867741 183.94826204 215.21965665
 206.58207853 316.77005776  27.31767005 114.30705586  52.01526429
  57.37465034  75.22898172  96.25484888  46.30236777 185.15728284
  83.08647851 196.76311547 108.52389324 368.64419018 161.20541539
 277.90146477 143.10406023 281.78930375  68.93301936  54.37173453
  38.5652431   26.41726493  69.96035047  29.19933724  20.36770758
 119.32711147  47.87422553 261.20377304 233.28061077 102.26252572
  71.84226588  92.28476512  32.09921313 137.11762753  98.7883424
 120.06786964 196.82028032  22.3791951  268.15850993  97.84753848
  20.63079408 211.7404014  105.02424873  50.03042181  86.85437339
 239.71126983 128.68214052 365.69541939 280.70413897 232.94433051
 226.27435749 184.21610019  48.92050427 126.83300265  84.94645861
  71.77724839  56.22557926 135.52951486 188.41466678 170.47784083
  65.94953218 169.07435478  96.84405611 253.68625168 105.52238902
 309.47728416 111.29319845 -12.58252106  10.57835433 240.44675311
 242.44930584  80.27864742 119.87275945  45.00553248  99.21685522
 141.0798355  166.61566989  90.27264241 109.61234987  36.46846774
 107.41064141  95.10131559  70.91782562  90.25633164 301.63174261
 120.53862644 252.94372338 141.81254611 288.33522254 168.95136593
  94.28070809 140.77913963  83.3728934  226.80825146 273.8844489
 248.98182612  83.91789848 114.90017752 149.1811124   26.09592338
 124.72027948 263.24965404  55.19579527  86.75213461 122.16039319
 100.8702864  198.13613617  98.06507133 330.38541695  79.17666235
 116.49612743  98.9312095  319.75489123 107.95565486 151.30307617
 145.47135969  47.23928431 182.71001801  47.99674325  45.32210237
  45.19583026 207.37856544  96.69203869 136.52893009 264.07590524
 146.60440715 143.98380162  48.09880589 153.85395962  29.69433941
 166.56513718  46.2496622   38.81928194 118.43936947  69.291387
 186.47432584  35.7242456  121.52620121 214.40121178  30.28157786
 271.38217437 265.7229052   20.03592357 359.93190363 108.57954477
 221.1484306   43.31826622  75.38703166  66.40067161 308.83520491
  69.88363215  49.27474799 129.7695105  149.51076886 172.91547009]

In [39]:
Test_data['count'] = y_pred_Test

결과 도출, 자전거 대여수 예측 값 입력

In [40]:
Test_data.head()

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0,98.733318
1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0,222.972942
2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0,81.160910
3,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0,24.542792
4,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0,63.239556

In [41]:
submission = pd.read_csv('D:/python_study/project/따릉이/submission.csv',encoding = 'cp949')

In [42]:
submission.head()

   id  count
0   0     98
1   1    222
2   2     81
3   3     24
4   4     63

In [43]:
submission['count'] = y_pred_Test

In [44]:
submission.head()

   id       count
0   0   98.733318
1   1  222.972942
2   2   81.160910
3   3   24.542792
4   4   63.239556

In [45]:
submission.reset_index(drop = True, inplace = True)

In [46]:
submission.head()

   id       count
0   0   98.733318
1   1  222.972942
2   2   81.160910
3   3   24.542792
4   4   63.239556

In [47]:
submission['count'] = submission['count'].astype(int)

In [48]:
submission.to_csv('D:/python_study/project/따릉이/submission.csv',encoding = 'cp949')